absl-py==2.3.1
accelerate==1.10.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alabaster==0.7.16
alembic==1.16.5
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.10.0
astor==0.8.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.5
bitsandbytes==0.47.0
blake3==1.0.5
blinker==1.9.0
blobfile==3.0.0
cachetools==5.5.2
cbor2==5.7.0
certifi==2025.8.3
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.3
clang-format==18.1.3
click==8.2.1
cloudpickle==3.1.1
cmake==4.1.0
colorama==0.4.6
comet_ml==3.52.1
commonmark==0.9.1
compressed-tensors==0.11.0
configobj==5.0.9
contourpy==1.3.2
coverage==7.10.6
cryptography==45.0.7
cycler==0.12.1
Cython==3.0.11
databricks-sdk==0.65.0
DataProperty==1.1.0
datasets==3.6.0
deepspeed==0.17.5
deepspeed-kernels==0.0.1.dev1698255861
Deprecated==1.2.18
depyf==0.19.0
diffusers==0.35.1
dill==0.3.8
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docopt-ng==0.9.0
docstring_parser==0.17.0
docutils==0.17.1
dpcpp-llvm-spirv @ file:///input/frameworks/25.190.0/wheelhouse/dpcpp_llvm_spirv-2024.2.0-894-py310-none-manylinux2014_x86_64.whl#sha256=a8a04b6ef3f4e43d016361d520913489ad02c441939613604e2e16d9c04b5d8d
dpctl @ file:///input/frameworks/25.190.0/wheelhouse/dpctl-0.20.2-cp310-cp310-linux_x86_64.whl#sha256=37a70ddd209854199d5e866037eed4344b6624e7dff795481ad959cad2435460
dpnp @ file:///input/frameworks/25.190.0/wheelhouse/dpnp-0.18.1-cp310-cp310-linux_x86_64.whl#sha256=64ac093466d3ea58a1121b6c5a4098e3528f5a91483e2cf4c5aeafed58e64688
dulwich==0.24.1
einops==0.8.1
email-validator==2.3.0
evaluate==0.4.5
everett==3.1.0
exceptiongroup==1.3.0
execnet==2.1.1
expecttest==0.3.0
fastapi==0.116.1
fastapi-cli==0.0.10
fastapi-cloud-cli==0.1.5
filelock==3.19.1
fire==0.7.1
Flask==3.1.2
fonttools==4.59.2
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2025.3.0
future==1.0.0
gguf==0.17.1
gitdb==4.0.12
GitPython==3.1.45
google==3.0.0
google-auth==2.40.3
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.4
grpcio==1.74.0
gunicorn==23.0.0
h11==0.16.0
h5py @ file:///input/frameworks/25.190.0/wheelhouse/h5py-3.14.0-cp310-cp310-linux_x86_64.whl#sha256=ba4f2f2de974cd025406122b12d8296ce3c0f48af77bdd913fe0cb257fc8eab2
hf-xet==1.1.9
hf_transfer==0.1.9
hjson==3.1.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.34.4
hydra-core==1.3.2
hypothesis==6.138.14
identify==2.6.13
idna==3.10
imagesize==1.4.1
importlib_metadata==8.7.0
iniconfig==2.1.0
intel_extension_for_pytorch @ file:///input/frameworks/25.190.0/wheelhouse/intel_extension_for_pytorch-2.8.10%2Bgit09505bb-cp310-cp310-linux_x86_64.whl#sha256=9ddc06d74ba6309d6c25dcb67fdbe3feb466d0c2e5b0ef530bb3e54f7f77e039
interegular==0.3.3
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.2
jsonlines==4.0.0
jsonpickle==4.1.1
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
kagglehub==0.3.13
kiwisolver==1.4.9
lark==1.2.2
lightning-utilities==0.15.2
lintrunner==0.12.7
llguidance==0.7.30
llvmlite==0.43.0
lm-format-enforcer==0.10.12
lm_eval==0.4.9.1
lxml==6.0.1
Mako==1.3.10
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
mbstrdecoder==1.1.4
mdurl==0.1.2
mistral_common==1.8.4
more-itertools==10.8.0
mpi4py @ file:///input/frameworks/25.190.0/wheelhouse/mpi4py-4.1.0-cp310-cp310-linux_x86_64.whl#sha256=b3eadccb76d1f200506b251bfb85bf73f80a62a76ed1fff23ba2836ce6ef5685
mpmath==1.3.0
msgpack==1.1.1
msgspec==0.19.0
multidict==6.6.4
multiprocess==0.70.16
munch==4.0.0
networkx==3.4.2
neural-compressor==2.1
ninja==1.13.0
nltk==3.9.1
nodeenv==1.9.1
numba==0.60.0
numba-dpex @ file:///input/frameworks/25.190.0/wheelhouse/numba_dpex-0.23.0%2B31.g63ac57378-cp310-cp310-linux_x86_64.whl#sha256=36dc0e92e5ee52a62b40ce0e19f18fb02899d0d140d6995cf15e6ef9103fb981
numexpr==2.11.0
numpy==2.0.2
omegaconf==2.3.0
openai==1.106.1
openai-harmony==0.0.4
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
opentelemetry-api==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
optree==0.17.0
outlines_core==0.2.10
packaging==25.0
pandas==2.3.2
parameterized==0.9.0
partial-json-parser==0.2.1.1.post6
pathvalidate==3.3.1
peft==0.17.1
pillow==11.3.0
pkgconfig==1.5.5
platformdirs==4.4.0
pluggy==1.6.0
portalocker==3.2.0
pre_commit==4.3.0
prettytable==3.16.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.22.1
propcache==0.3.2
protobuf==6.32.0
psutil==7.0.0
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pybind11==3.0.1
pycocotools==2.0.10
pycountry==24.6.1
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic_core==2.33.2
Pygments==2.19.2
pyparsing==3.2.3
pytablewriter==1.2.1
pytest==8.4.2
pytest-cov==6.2.1
pytest-forked==1.6.0
pytest-integration==0.2.3
pytest-mock==3.15.0
pytest-randomly==3.16.0
pytest-xdist==3.8.0
python-box==6.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-multipart==0.0.20
pytorch-lightning==1.9.5
pytorch-triton-xpu==3.4.0+gitae324eea
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.0.2
ray==2.49.1
recommonmark==0.7.1
referencing==0.36.2
regex==2025.9.1
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.1.0
rich-toolkit==0.15.1
rignore==0.6.4
rouge_score==0.1.2
rpds-py==0.27.1
rsa==4.9.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
ruff==0.11.6
sacrebleu==2.5.1
sacred==0.8.7
safetensors==0.6.2
schema==0.7.7
scikit-build==0.18.1
scikit-learn==1.7.1
scikit-learn-intelex @ file:///input/frameworks/25.190.0/wheelhouse/scikit_learn_intelex-20250822.140259-cp310-cp310-linux_x86_64.whl#sha256=31f67424408781dc0fcc8e912cdd99e5215d096992d6e1e780b736ce0f4e74a6
scipy==1.15.3
semantic-version==2.10.0
sentencepiece==0.2.1
sentry-sdk==2.36.0
setproctitle==1.3.6
setuptools-scm==9.2.0
shellingham==1.5.4
shtab==1.7.2
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
soxr==0.5.0.post1
Sphinx==5.3.0
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.43
sqlitedict==2.1.0
sqlparse==0.5.3
starlette==0.47.3
sympy==1.14.0
tabledata==1.3.4
tabulate==0.9.0
tcolorpy==0.1.7
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
termcolor==3.1.0
threadpoolctl==3.6.0
tiktoken==0.11.0
tokenizers==0.22.0
tomli==2.2.1
tomli_w==1.2.0
torch @ file:///input/frameworks/25.190.0/wheelhouse/torch-2.8.0a0%2Bgitba56102-cp310-cp310-linux_x86_64.whl#sha256=1cf2a3b2a68277f3e4c1ff86e06ea3ce5db2a1eeaedb2cbf6be29d12aecc2c90
torchao @ file:///input/frameworks/25.190.0/wheelhouse/torchao-0.12.0%2Bgit442232fbf-py3-none-any.whl#sha256=3329633c11c0dfe0fd7536c8bd7e249caffd896983c928744cacfe688e61c8ab
torchdata @ file:///input/frameworks/25.190.0/wheelhouse/torchdata-0.11.0%2B377e64c-py3-none-any.whl#sha256=8f4f553acb3851e1d17db1f71a2e10282fdd6bdde19d240b15c65b0960c1a498
torchmetrics==1.8.2
torchtune @ file:///input/frameworks/25.190.0/wheelhouse/torchtune-0.0.0-py3-none-any.whl#sha256=aeb5662937439dd3d8230682989f5f7368aee09f334cb08e8c046aef12c64002
torchvision @ file:///input/frameworks/25.190.0/wheelhouse/torchvision-0.23.0a0%2B824e8c8-cp310-cp310-linux_x86_64.whl#sha256=7fa27c39dc93f743a704c3463fe4f6fd5d480318a3580d467040ef41fbccbfb0
tqdm==4.67.1
tqdm-multiprocess==0.0.11
transformers==4.56.1
typeguard==4.4.4
typepy==1.3.4
typer==0.17.3
types-dataclasses==0.6.6
typing-inspection==0.4.1
typing_extensions==4.15.0
tyro==0.9.31
tzdata==2025.2
unittest-xml-reporting==3.2.0
urllib3==1.26.20
uvicorn==0.35.0
uvloop==0.21.0
versioneer==0.29
virtualenv==20.34.0
vllm @ file:///input/frameworks/25.190.0/wheelhouse/vllm-0.10.1rc2.dev189%2Bge2db1164a.xpu-py3-none-any.whl#sha256=4e3b267f83e03d7b91bc843c186ab1bb311ec44ea0bd72f855438a3777156084
wandb==0.21.3
watchfiles==1.1.0
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.3
word2number==1.1
wrapt==1.17.3
wurlitzer==3.1.1
xgboost==3.0.4
xgrammar==0.1.21
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.24.0
